.create-hat-button {
    position: relative;
    display: inline-block;
    margin-left: 80px;
    padding: 15px 30px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #56caf0;
    background: transparent;
    cursor: pointer;
    transition: ease-out 0.5s;
    border: 2px solid #56caf0;
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 #56caf0;
  }

  .create-hat-button:hover {
    color: white;
    box-shadow: inset 0 -100px 0 0 #56caf0;
  }

  .create-hat-button:active {
    transform: scale(0.9);
  }

.hats-list{
    list-style-type: none;
    display: inline;
}

.delete-button {
    font-size: 15px;
    border: none;
    background-color: white;
}


.flip-card {
  background-color: transparent;
  width: 190px;
  height: 254px;
  perspective: 1000px;
  font-family: sans-serif;
}

.title {
  font-size: 1.5em;
  font-weight: 900;
  text-align: center;
  margin: 0;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateX(180deg);
}

.flip-card-front, .flip-card-back {
  box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 25rem;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

}

.flip-card-front {
  background: white;
  color: black;
}

.flip-card-back {
  background: white;
  color: black;
  transform: rotateX(180deg);
}
